<ion-header >
  <ion-navbar color=danger>
    <ion-title>Currency Converter</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="changePageToSignIn()">
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>from</ion-label>
      <ion-select [(ngModel)]="from">
        <ion-option value="SGD">SGD - Singapore Dollar</ion-option>
        <ion-option value="MYR">MYR - Malaysian Ringgit</ion-option>
        <ion-option value="EUR">EUR - Euro</ion-option>
        <ion-option value="USD">USD - US Dollar</ion-option>
        <ion-option value="AUD">AUD - Australian Dollar</ion-option>
        <ion-option value="JPY">JPY - Japanese Yen</ion-option>
        <ion-option value="CNH">CNH - Chinese Yuan</ion-option>
        <ion-option value="HKD">HKD - Hong Kong Dollar</ion-option>
        <ion-option value="CAD">CAD - Canadian Dollar</ion-option>
        <ion-option value="INR">INR - Indian Rupee</ion-option>
        <ion-option value="DKK">DKK - Danish Krone</ion-option>
        <ion-option value="GBP">GBP - British Pound</ion-option>
        <ion-option value="RUB">RUB - Russian Ruble</ion-option>
        <ion-option value="NZD">NZD - New Zealand Dollar</ion-option>
        <ion-option value="MXN">MXN - Mexican Peso</ion-option>
        <ion-option value="IDR">IDR - Indonesian Rupiah</ion-option>
        <ion-option value="TWD">TWD - Taiwan New Dollar</ion-option>
        <ion-option value="THB">THB - Thai Baht</ion-option>
        <ion-option value="VND">VND - Vietnamese Dong</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>to</ion-label>
      <ion-select [(ngModel)]="to">
        <ion-option value="SGD">SGD - Singapore Dollar</ion-option>
        <ion-option value="MYR">MYR - Malaysian Ringgit</ion-option>
        <ion-option value="EUR">EUR - Euro</ion-option>
        <ion-option value="USD">USD - US Dollar</ion-option>
        <ion-option value="AUD">AUD - Australian Dollar</ion-option>
        <ion-option value="JPY">JPY - Japanese Yen</ion-option>
        <ion-option value="CNH">CNH - Chinese Yuan</ion-option>
        <ion-option value="HKD">HKD - Hong Kong Dollar</ion-option>
        <ion-option value="CAD">CAD - Canadian Dollar</ion-option>
        <ion-option value="INR">INR - Indian Rupee</ion-option>
        <ion-option value="DKK">DKK - Danish Krone</ion-option>
        <ion-option value="GBP">GBP - British Pound</ion-option>
        <ion-option value="RUB">RUB - Russian Ruble</ion-option>
        <ion-option value="NZD">NZD - New Zealand Dollar</ion-option>
        <ion-option value="MXN">MXN - Mexican Peso</ion-option>
        <ion-option value="IDR">IDR - Indonesian Rupiah</ion-option>
        <ion-option value="TWD">TWD - Taiwan New Dollar</ion-option>
        <ion-option value="THB">THB - Thai Baht</ion-option>
        <ion-option value="VND">VND - Vietnamese Dong</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Exchange value</ion-label>
      <ion-input type="number" style="text-align: right;" [(ngModel)]="value"></ion-input>
    </ion-item>

  </ion-list>
  <button ion-button block color="danger" (click)="getExchange()">Converter</button>

  <ion-card *ngIf="exchangeValue">
    <ion-card-header>
      <h2>{{from}} to {{to}}</h2>
    </ion-card-header>
    <ion-card-content>
      {{exchangeValue*value}}
    </ion-card-content>
  </ion-card>
  
</ion-content>
