<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      <h1>{{ _GENARAL.TITLE_TEXT.APP_NAME }}</h1>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="changePageToSignUp()">
        <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="sigInForm" (ngSubmit)="onSubmitSignIn()">
    <ion-grid>
      <ion-row padding text-center padding-top>
        <ion-col col-12>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col col-12>
          <ion-list no-lines>
            <ion-item>
              <div text-center>
                <img style="width: 150px; height: 150px;" src="../../assets/imgs/sign-in/logo.png">
              </div>
            </ion-item>

            <ion-item>
              <ion-label floating>{{ _GENARAL.TITLE_TEXT.USER_NAME }}</ion-label>
              <ion-input type="text" value="" formControlName="username" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>{{ _GENARAL.TITLE_TEXT.PASSWORD }}</ion-label>
              <ion-input type="password" value="" formControlName="password" required></ion-input>
            </ion-item>

          </ion-list>

          <div padding-vertical text-center>
            <button ion-button round outline large type="submit">
              {{ _GENARAL.TITLE_TEXT.SIGN_IN }}
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>